<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/LMS.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img src="~/Images/logo-lexicon.gif" height="30" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.Menu != null)
                    {
                    @Html.Partial("Menu", ((MenyItems)ViewBag.Menu))
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logga ut", "LogOff", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div align="center" class="container body-content lmsbackground">
        <h1>Lexicon LMS, Lärplattform</h1>
        <hr />
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
