<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/LMS.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img src="~/Images/logo-lexicon.gif" height="80" /></a>  <!--Marie har ändrat höjden från 30 till 80 pixlar-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.Menu != null)
                    {
                    @Html.Partial("MenuPartialView", ((MenyItems)ViewBag.Menu))
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        //User user = new LMS.Models.DataAccess.ApplicationDbContext().Users.FirstOrDefault(u => u.UserName == User.Identity.Name);

                        //<li>Inloggad som: @user.FirstName @user.LastName</li>
                        <li>@Html.ActionLink("Logga ut", "LogOff", "Home")</li>
                    }
                </ul>
            </div>

            @if (ViewBag.BreadCrumbs != null)
            {
                <ul id="breadcrumbs">
                    @foreach (MenyItem Item in ((MenyItems)ViewBag.BreadCrumbs))
                    {
                        <li><a href="@Url.Content(Item.Link)">@Item.Text</a></li>
                        <li class="delimiter">/</li>
                    }
                </ul>
            }
        </div>
    </div>
    <div class="container body-content lmsbackground center centralize">
        <h1>Lexicon LMS, Lärplattform</h1>
        @if (Request.QueryString["warning"] != null)
        {
            <h3>@Request.QueryString["warning"]</h3>
        }
        <hr />
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
