@model IEnumerable<AssignmentCheck>
@using LMS.Models.DataAccess
@{
    ViewBag.Title = "Övningsuppgifter";
    User user = new ApplicationDbContext().Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
}

<h2>Övningsuppgifter för</h2>
<h2>@user.FirstName @user.LastName</h2>

<table class="center">
    <tr>
        <th></th>
        <th></th>
        <th>@Html.ActionLink("Inlämnat", "Assignments", new { sort = "done" })</th>
        <th></th>
        <th>@Html.ActionLink("Ej inlämnat", "Assignments", new { sort = "isLeft" })</th>
        <th></th>
        <th>@Html.ActionLink("Försenat", "Assignments", new { sort = "delayed" })</th>
    </tr>
    @foreach (AssignmentCheck assignment in Model)
    {
        <tr>
            <th>@assignment.Activity.Name</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td class="centralize">@(assignment.Done ? " X " : "")</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="centralize">@(assignment.IsLeft ? " X " : "")</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="centralize">@(assignment.Delayed ? " X " : "")</td>
        </tr>
    }
</table>