@model Course
@{
    ViewBag.Title = "Index";
    LMS.Models.User LoggedIn = Model.Users.Where(u => u.UserName == User.Identity.Name).FirstOrDefault();
}

<h2>Index</h2>

<h3>Hej @LoggedIn.FirstName</h3>

<u1>
    <li>@Model.Name</li>
    <li>@Model.Description</li>
    <li>@Model.StartDate.ToString(" yyyy-MM-dd ")</li>
    <li>@Model.EndDate.ToString(" yyyy-MM-dd ")</li>
</u1>
@Html.Partial("ModulesTable", Model.Modules)



