@model IEnumerable<Module>
<table>
    <tr>
        <th>Moduler</th>
        <th></th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th></th>
        <th>@Html.DisplayNameFor(model => model.EndDate)</th>
    </tr>
    @foreach (Module module in Model)
    {
        <tr>
            <td><a href="@Url.Content("~/Student/Module/"+ module.Id)">@module.Name</a></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>@module.StartDate.ToString(" yyyy-MM-dd ")</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>@module.EndDate.ToString(" yyyy-MM-dd ")</td>
        </tr>
    }
</table>