@model Course
@{
    ViewBag.Title = "Old Modules";
}

<h2>Tidigare moduler för @Model.Name</h2>
<p>Kursen pågick från den <time datetime="@Model.StartDate.ToString("yyyy-MM-dd")">@Model.StartDate.ToString(" yyyy-MM-dd ")</time> till den <time datetime="@Model.EndDate.ToString("yyyy-MM-dd")">@Model.EndDate.ToString(" yyyy-MM-dd ")</time></p>
@Html.Partial("ModulesTablePartialView", Model.Modules)
