@model User
    @using Microsoft.AspNet.Identity.EntityFramework;
    @{ 
        ViewBag.Title = "Användare";
        LMS.Models.DataAccess.ApplicationDbContext db = new LMS.Models.DataAccess.ApplicationDbContext();
        IdentityRole teacher = db.Roles.FirstOrDefault(r => r.Name == "Teacher");
        IdentityRole student = db.Roles.Where(r => r.Name == "Student").FirstOrDefault();
    }
<h2>@Model.FirstName @Model.LastName</h2>
<h5>@Model.Email</h5>
<p>@(Model.Roles.FirstOrDefault(r => r.RoleId == teacher.Id) != null ? "Lärare" : (Model.Roles.FirstOrDefault(r => r.RoleId == student.Id) != null ? "Student" : "Ingen roll funnen"))</p>
<!--<table class="center">
   <tr>
        <th>Roll</th>
        <th>Ja/Nej</th>
   </tr>
    <tr>
      <td>
         Lärare
      </td>
        <td>
           @(Model.Roles.FirstOrDefault(r => r.RoleId == teacher.Id)!=null ?"Ja":"Nej")
          </td>
    </tr>
    <tr>
        <td>
            Student
        </td>
        <td>
            @(Model.Roles.FirstOrDefault(r => r.RoleId == student.Id) != null ? "Ja" : "Nej")
        </td>
    </tr>
</table>-->