@model LoginViewModel
@{
    ViewBag.Title = "Välkommen till Lexicon";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <!--<div class="col-md-8 col-md-offset-8">-->
                <section id="loginform">
                    @using (Html.BeginForm("Index", "Home", new { returnurl = ViewBag.returnurl }, FormMethod.Post, new { @class = "form-horizontal, col-md-offset-7", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-post", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Lösenord" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <div class="col-md-10" align="center">
                                <input type="submit" value="Logga in" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>
    </div>
</div>
<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">  <!--Karusell för bilderna på förstasdian.-->
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active ">
                <img id="caropic" src="~/Images/jenny_visar_appar.jpg" class="img-responsive main-image" width="100%" />
            </div>
            <div class="item ">
                <img src="~/Images/deltagare-sfi-i-klassrum-630x320.jpg" class="img-responsive main-image" width="100%" />
                <div class="carousel-caption img-responsive">
                    <!--<h2 style="font-size:50px;color:#1486d1">Lärplattformen Lexicon</h2>-->
                </div>
            </div>
            <div class="item ">
                <img id="caropic" src="~/Images/sundbybergfolkhogskoleelever_webb.jpg" class="img-responsive main-image" width="100%" />
                <div class="carousel-caption img-responsive">
                    <!--<img src="~/Images/summer deal.JPG" class="img-responsive">-->
                </div>
            </div>
            <div class="item">
                <img id="caropic" src="~/Images/sjovik2.jpg" class="img-responsive main-image" width="100%" />
                <div class="carousel-caption img-responsive">
                    <!--<img src="~/Images/electric vehicle.jpg" class="img-responsive" />-->
                </div>
            </div>
            <div class="item">
                <img src="~/Images/28219_umu-vp-6013.jpg" class="img-responsive main-image" width="100%" />
                <div class="carousel-caption img-responsive">
                    <!--<img src="~/Images/electric vehicle.jpg" class="img-responsive" />-->
                </div>
            </div>
            <div class="item">
                <img src="~/Images/Vuxna elever.jpg" class="img-responsive main-image" width="100%" />
                <div class="carousel-caption img-responsive">
                    <!--<img src="~/Images/electric vehicle.jpg" class="img-responsive" />-->
                </div>
            </div>
            <div class="item">
                <img src="~/Images/PB190279-3.jpg" class="img-responsive main-image" width="100%" />
                <div class="carousel-caption img-responsive">
                    <!--<img src="~/Images/electric vehicle.jpg" class="img-responsive" />-->
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}